---
layout: home
permalink: /
---
<section id="notre-mission">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Notre Mission</h2>
    </div>
  </div>
  <hr class="separator-dark">
  <div class="col-lg-12">
    <p>Zero Waste France défend une démarche zéro déchet, zéro gaspillage ambitieuse, qui donne la priorité à la réduction à la source. Sa vision s'inscrit dans le cadre d'une transition écologique globale, du respect des droits humains et d’une préservation de nos ressources.</p>

    <p>Zero Waste Sud Grand Paris est un groupe local de Zero Waste France qui promeut la démarche zéro déchet dans le sud-ouest des Hauts-de-Seine (Malakoff, Vanves, Issy-Les-Moulineaux, Montrouge, Clamart et Chatillon).</p>

    <p>Nous souhaitons sensibiliser les citoyens sur la problématique des déchets, les accompagner dans leur prise de conscience et conseiller les collectivités et entreprises souhaitant s’investir pour la planète.</p>
  </div>
</div>
</section>

<section id="nos-benevoles" class="success">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Nos bénévoles</h2>
    </div>
  </div>
  <hr class="separator-light">
  <div class="col-lg-12">
    {% for volunteer in site.data.info.volunteers %}
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 volunteer">
      <div class="avatar mx-auto">
        {% if volunteer.picture %}
        <img src="/assets/images/{{ volunteer.picture }}" alt="{{ volunteer.name }}">
        {% else %}
        <img src="/assets/images/no_profile_img.png" alt="{{ volunteer.name }}">
        {% endif %}
      </div>
      <h4 class="mt-4 mb-3">{{ volunteer.name }}</h4>
      <p>{{ volunteer.role }}</p>
    </div>
    {% endfor %}
  </div>
</div>
</section>

<section id="dons">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Dons</h2>
    </div>
  </div>
  <hr class="separator-dark">
  <div class="col-lg-12">
    <p>L’association est financée en grande majorité par les dons des particuliers. Chaque nouvelle adhésion ou nouveau don représente pour notre groupe local :</p>
    <ul>
      <li>Une voix supplémentaire pour porter nos messages auprès des pouvoirs publics et des entreprises.</li>
      <li>Une source de financement pour nos projets et campagnes de sensibilisation.</li>
      <li>La garantie de rester une association indépendante.</li>
    </ul>
    <p>Le don à Zero Waste Sud Grand Paris ouvre droit à une réduction fiscale car il remplit les conditions générales prévues aux articles <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000019299645&cidTexte=LEGITEXT000006069577&dateTexte=20080806" hreflang="fr" title="Code général des impôts - Article 200" target="_blank" rel="noopener noreferrer">200</a> et <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000037988777&cidTexte=LEGITEXT000006069577&dateTexte=20181231" hreflang="fr" title="Code général des impôts - Article 238 bis" target="_blank" rel="noopener noreferrer">238 bis</a> du code général des impôts :</p>
    <ul>
      <li>Particulier : Vous pouvez déduire 66% de votre don dans la limite de 20% de votre revenu imposable.</li>
      <li>Organisme / Entreprise : L’ensemble des versements à Zero Waste Sud Grand Paris permet de bénéficier d’une réduction d’impôt sur les sociétés de 60% du montant de ces versements, plafonnée à 10000€ ou 5 ‰ (5 pour mille) du chiffre d'affaires annuel hors taxe de l’entreprise. En cas de dépassement de plafond, l'excédent est reportable sur les 5 exercices suivants.</li>
    </ul>
  </div>
</div>
</section>
