<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col footer-col">
          <h3>Adresse</h3>
          <p>
          {% for adress in site.data.info.address %}
          {{ adress.line }} <br>
          {% endfor %}
          </p>
        </div>
        <div class="col footer-col">
          <h3>Nos liens sociaux</h3>
          <div class="row">
            {% for network in site.data.info.social %}
            <div class="col">
              <p><a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a></p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col footer-col">
          <div class="row">
            <div class="col">
              <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/zero-waste-sud-grand-paris/adhesions/zero-waste-sgp-cotisations-2020/widget-bouton" style="width:100%;height:70px;border:none;"></iframe>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/zero-waste-sud-grand-paris/formulaires/1/widget-bouton" style="width:100%;height:70px;border:none;"></iframe>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>Propulsé par <a href="https://www.helloasso.com" rel="nofollow">HelloAsso</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col">
          Copyright &copy; {{ site.data.info.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll d-block d-md-none">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
