#articles {
  article {
    margin-bottom: 50px;

    .post-meta {
      text-align: center;

      .post-thumbnail {
        img {
          max-width: 100%;
          max-height: 200px;
          vertical-align: middle;
          border-style: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .post-content {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
