#articles {
  margin-top: 80px;

  article {
    margin-bottom: 50px;

    .post-meta {
      text-align: center;

      .post-thumbnail {
        img {
          max-width: 100%;
          max-height: 200px;
          vertical-align: middle;
          border-style: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .post-content {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

#articles {
  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

#post {
  margin-top: 80px;

  .post-thumbnail {
    img {
      max-width: 100%;
      max-height: 450px;
      vertical-align: middle;
      border-style: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .post-content {
    margin-top: 1.72em;
    text-align: justify;
    text-justify: inter-word;
  }
}

#post {
  @media (max-width: 767px) {
    margin-top: 50px;
  }
}
