header {
  text-align: center;
  color: #fff;
  background: $primary-colour;

  .container {
    padding-top: 1.8rem;
    padding-bottom: 1.5rem;
  }

  img {
    display: block;
    margin: 0 auto 20px;
    max-width: 25em;
  }

  .intro-text {
    .name {
      display: block;
      text-transform: uppercase;
      font-family: $intro-text-fonts;
      font-size: $intro-font-size;
      font-weight: $intro-text-font-weight;
    }

    .sub-text {
      font-size: $sub-text-font-size;
      font-weight: $sub-text-font-weight;
    }
  }
}
