.navbar {
  text-transform: uppercase;
  font-family: $navbar-fonts;
  font-weight: $navbar-font-weight;

  a:focus {
    outline: 0;
  }

  .navbar-nav {
    letter-spacing: 1px;

    li a:focus {
      outline: 0;
    }
  }
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;

    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }

    &.navbar-shrink {
      padding: 10px 0;

      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

.navbar-default, .navbar-inverse {
  border: 0;
}

.navbar-nav > .active > a {
  background-color: $secondary-colour-dark !important;
}
